@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");


*{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    font-size: 60px;
    padding: 20px;
    font-family: "Luckiest Guy", cursive;
    color: white;
    text-align: center;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
        0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
        0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
        -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}

span {
    transform: scale(0.9);
    display: inline-block;
}

span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

.fundo {
    background-image: linear-gradient(45deg, #20B2AA, #c4fafb);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 1px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;

}

.botao:hover{
    background-color: black;
}

#resultado{
    width: 202px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    color: black;
    text-align: right;
    background-color: white;

}

